<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-toolbar>
	    <ion-buttons start>
	      <button ion-button (click)="dismiss()">
	        <ion-icon name="arrow-back"></ion-icon>
	      </button>
	    </ion-buttons>
	    <ion-searchbar [placeholder]="searchType == 'departure' ? 'Select Departure City' : 'Select Destination City'" [(ngModel)]="keyword" (keyup)="searchAirports()"></ion-searchbar>
  	</ion-toolbar>

</ion-header>


<ion-content padding>

<div class="city-search">
	<div class="error-alert" *ngIf="keyword.length && !destinations.length">
		<ion-icon name="warning" color="danger"></ion-icon> No airport or cities found
	</div>

  <div *ngIf="destinations.length>0">
	<h6 class="lighter">Search Results</h6>
	<ion-list>
	  <ion-item *ngFor="let destination of destinations" (click)="selectDestination(destination)">
	    <ion-badge >{{destination.iata}}</ion-badge> <B>{{destination.city}} , {{destination.country}}</B> ({{destination.name}})
	  </ion-item>
	</ion-list>
</div>

<div *ngIf="!destinations.length">
<h6 class="lighter">Top Cities</h6>
<ion-list>
  <ion-item *ngFor="let topdestination of topDestinations">
    <ion-badge >{{topdestination.airtport_code}}</ion-badge> <B>{{topdestination.city_name}} , {{topdestination.country_abbreviation}}</B> ({{topdestination.airport_name}})
  </ion-item>
</ion-list>
</div>

</div>
</ion-content>
