<ion-header>
  <ion-navbar>
    <ion-title>
      Goomo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

  <div>
    <ion-segment [(ngModel)]="travel">
      <ion-segment-button value="flights" >
      	<img src="./assets/plane.png" width="50">
        Flights
      </ion-segment-button>
      <ion-segment-button >
      	<img src="./assets/holidays.png" width="50">
        Holidays
      </ion-segment-button>
      <ion-segment-button >
      	<img src="./assets/traders.png" width="50">
        Tradefairs
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="travel">
  	<ion-grid *ngSwitchCase="'flights'">
  	  <ion-row class="return-toggle">
  	  	<div>One-way</div>
    	<ion-toggle [(ngModel)]="dates.return_date_show" class="custom-toggle"></ion-toggle>
  	  	<div>Return</div>
  	  </ion-row>

  	  <div>

  	  	<div class="search-wrapper">
  	  	    <ion-item (click)="showModal('departure')" class="city-select">
  	  	      <p><span *ngIf="!departureValue">Select </span>Departure City</p>
  	  	      <h2 *ngIf="departureValue">{{departure.city}}</h2>
  	  	      <h6 *ngIf="departureValue">{{departureValue}}</h6>
              <!-- <ion-input *ngIf="!departureValue" type="text"></ion-input> -->
  	  	    </ion-item>

  	  	    <ion-item (click)="showModal('destination')" class="city-select">
  	  	      <p><span *ngIf="!destinationValue">Select </span>Destination City</p>
  	  	      <h2 *ngIf="destinationValue">{{destination.city}}</h2>
  	  	      <h6 *ngIf="destinationValue">{{destinationValue}}</h6>
              <!-- <ion-input *ngIf="!destinationValue" type="text"></ion-input> -->
  	  	    </ion-item>

  	  	    <button ion-fab mini icon-only round class="swap-button" [disabled]="!departureValue && !destinationValue" (click)="swapDestinations()">
  	  	      <ion-icon name="swap"></ion-icon>
  	  	    </button>
  	  	</div>

  	  	<div class="date-wrapper">
  	  	  <ion-row>
  	  	    <ion-col ngClass="{{ dates.return_date_show ? col-12 : col-6 }}">
		  	    <ion-item (click)="openCalendar()" class="date-select">
		  	      <p>Departure</p>
		  	      <!-- <h2 >Thu, 06 Jul</h2> -->
		  	      <h2>{{dates.depart_date}}</h2>
		  	    </ion-item>
  	  	    	<ion-icon name="calendar" class="cal-icon"></ion-icon>
  	  	    </ion-col>
  	  	    <ion-col col-6 *ngIf="dates.return_date_show">
  	  	    	<ion-item (click)="openCalendar()" class="date-select">
  	  	    	  <p>Return</p>
  	  	    	  <h2>{{dates.return_date}}</h2>
  	  	    	</ion-item>
  	  	    	<ion-icon name="calendar" class="cal-icon"></ion-icon>
  	  	    </ion-col>
  	  	  </ion-row>
  	  	</div>

  	  	<div class="passenger-wrapper">
  	  	  <ion-item (click)="showPassengers()" class="passenger-select">
  	  	  	<p>Traveller &amp; Class</p>
  	  	  	<h2>1 Adult, Economy</h2>
  	  	  </ion-item>
  	  	  <ion-icon name="person" class="cal-icon"></ion-icon>
  	  	</div>

  	  	  <button ion-button block large class="search-btn">Search Flights</button>
  	  </div>
  	</ion-grid>

  	<ion-grid *ngSwitchCase="'holidays'">
  	  <ion-row>
  	    <ion-col col-12><h2>Holidays</h2></ion-col>
  	  </ion-row>
  	</ion-grid>

  	<ion-grid *ngSwitchCase="'tradefairs'">
  	  <ion-row>
  	    <ion-col col-12><h2>Tradefairs</h2></ion-col>
  	  </ion-row>
  	</ion-grid>
  </div>

</ion-content>
