page-home {
	.search-wrapper{
		position: relative;
		margin-top: 1rem;
		.item-block{
			padding-left: 0;
			padding-right: 7rem;
		}
	}
	.date-wrapper, .passenger-wrapper{
		margin-bottom: 10px;
		position: relative;
		.item-block{
			padding-left: 0;
			height: 100%;
		}
		ion-icon{
			font-size: 1.8em;
		}
		.col{
			padding: 5px 0;
		}
		[col-6]{
			margin-left: 15px;
		}
	}
	.swap-button{
		position: absolute;
		right: 0;
		top: 35%;
		transform: rotate(90deg);
		background-color: #fff;
		color: #036685;
		border: 1px solid #036685;
		box-shadow: none;
		&.fab[mini]{
			width: 30px;
			height: 30px;
			ion-icon{
				font-size: 1.8rem;
			}

		}
	}

	ion-segment{
		width: 100vw;
		margin: 0 -16px;
		background-color: #047091 !important;
		img{
			margin: 5px auto -15px;
			display: block;
		}
	}

	.segment-button{
		background-color: #047091 !important;
		border-radius: 0 !important;
		border: 0 !important;
		text-transform: uppercase;
		color: #8BC8DA !important;
		margin: 0 2rem;
		height: 7.8rem !important;
		transition: all 0.3s ease;
		&.segment-activated{
			font-weight: 600;
			color: #fff !important;
			box-shadow: inset 0 -3px 0px #FF8500;
		}
	}

	.search-btn{
		background-color: #FF8500;
		border-radius: 0;
		text-transform: none;
		font-size: 1.8rem;
		margin-top: 3rem;
	}

	.return-toggle{
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		color: #565656;
		.custom-toggle{
			height: 18px;
			width: 52px;
			margin: 0 10px;
			&.toggle-checked{
				.toggle-inner{
					left: 20px;
					// top: 0px;
				}
			}
			.toggle-icon{
				background-color: #fff;
				border: 1px solid #FF8500;
			}
			.toggle-inner{
				width: 12px;
				height: 12px;
				left: 2px;
				top: 2px;
				background: #FF8500;
			}
		}
		.toggle-ios.toggle-checked .toggle-inner{
			left: 17px;
		}
	}


	.city-select{
			margin-bottom: 1rem;
		ion-item{
		}
		ion-label{
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 0.5rem;;
			font-size: 1.3rem;
		}
		h2{
			font-size: 2.3rem;
			// text-transform: uppercase;
		}
		h6{
			font-size: 1.2rem;
			color: #444444;
		}
	}
	.date-select, .passenger-select{
		// margin-bottom: 20px;
		ion-label{
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 0.5rem;;
			font-size: 1.3rem;
		}
		h2{
			font-size: 1.6rem;
			// text-transform: uppercase;
		}
	}

	.offer-wrapper{
		display: flex;
		align-items: center;
		margin-top: 2rem;
		padding-bottom: 30px;
		img{
			max-width: 45px;
		}
		h5{
			color: black;
			font-size: 1.39rem;
			margin-top: 0;
			padding-left: 5px;
		}
		.offer-text{
			color: #9C9C9C;
			font-size: 1.16rem;
			flex: 1;
			text-align: left;
			.uppercase{
				span{
					color: black;
				}
			}
			.promo{
				font-size: 1.1rem;
				border: 1px dashed #eaaf6f;
				padding: 0.4rem;
				margin-top: 1rem;
				span{
					color: #FF8500;
				}
			}
		}
	}
}
