page-passengers {
	.back-btn{
		padding: 0 10px;
	}
	.done-btn{
		background-color: transparent;
		box-shadow: none;
		font-weight: 600;
	}
	.footer{
		.toolbar{
			padding: 0;
			min-height: 44px;
			.button-ios{
				margin: 0rem 0.2rem;
			}
		}
	}
}
