// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.error-alert{
	// color: #ff6e6e;
	background-color: #fff2f2;
	padding: 1rem;
	border-bottom: 1px solid #ff6e6e;
	margin-bottom: 20px;
}
.lighter{
	font-weight: 400;
	color:#9b9b9b;
}
.cal-icon{
	position: absolute;
	right: 15px;
	bottom: 12px;
	opacity: 0.3;
}

.toolbar-background{
	background-color: #036685;
}
.toolbar-title{
	color: #fff;
}
.bar-buttons {
	 -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    .bar-button{
    	color:white;
    }
}
.searchbar-input-container{
	.searchbar-input {
		background:none;
		color:#fff;
		box-shadow: none;
	}
	.searchbar-search-icon{
		color:#fff;
	}
	*::-webkit-input-placeholder {
	  color: #fff !important;
	}
	*:-moz-placeholder {
	  color: #fff !important;
	}
	*:-ms-input-placeholder { /* IE10+ */
	  color: #fff !important;
	}
}

.city-search{
	.badge{
		background:#9b9b9b;
		width: 60px;

	}
	.item{
		color::#9b9b9b;
		padding-left: 0px;
		b{
			color:#000000;
		}
	}
}