// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.error-alert{
	// color: #ff6e6e;
	background-color: #fff2f2;
	padding: 1rem;
	border-bottom: 1px solid #ff6e6e;
	margin-bottom: 20px;
}
.lighter{
	font-weight: 400;
	color:#9b9b9b;
}
.cal-icon{
	position: absolute;
	right: 15px;
	bottom: 0.8rem;
	opacity: 0.3;
}

.toolbar-background{
	background-color: #036685;
}
.toolbar-title{
	color: #fff;
}
.bar-buttons {
	 -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    .bar-button{
    	color:white;
    }
}
.searchbar-input-container{
	.searchbar-input {
		background:none;
		color:#fff;
		box-shadow: none;
	}
	.searchbar-search-icon{
		color:#fff;
	}
	*::-webkit-input-placeholder {
	  color: #fff !important;
	}
	*:-moz-placeholder {
	  color: #fff !important;
	}
	*:-ms-input-placeholder { /* IE10+ */
	  color: #fff !important;
	}
}

.city-search{
	.badge{
		background:#9b9b9b;
		width: 60px;

	}
	.item{
		color::#9b9b9b;
		padding-left: 0px;
		b{
			color:#000000;
		}
	}
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #FF8500;
  font-size: 4px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.week-title{
	color: #fff;
}
.days[_ngcontent-c0]{

	.days-btn.on-selected[_ngcontent-c0]{
		background-color: #FF8500;
		border-radius: 0;
		font-weight: 600;
	}
}
